html,body{
 	margin: 0; 	 
 	font-family: Arial, sans-serif;	
}

ul{
 	margin: 0;
 	padding: 0;
}

body{
	margin-top:50px;		
}

.cv{  
  font-style: italic;
  padding-bottom:20px;
}

.addres span{	
	margin-right: 10px;	
}

.addres a{
	color:#000;
}

.addres img{
	width:150px;
}

.btn{
	text-transform: uppercase;
}

.language{
	position: absolute;
	z-index: 9999;
	right: 15px;
	top: 8px;
}